<article data-stanza-database="glytoucan">
  <header>
    <h1>glytoucan</h1>
  </header>

  <section>
    <h2>Section heading</h2>
    <togo-stanza></togo-stanza>
  </section>

  <section>
    <h2>Section heading</h2>
    <togo-stanza></togo-stanza>
  </section>

  <a href="http://xxx.com" target="_blank">External link</a>
</article>
