<article data-stanza-database="nando">
  <header>
    <h1>NANDO</h1>
  </header>

  <section>
    <h2>NANDO: {{id}}</h2>
    <togostanza-hash-table
    data-url="https://integbio.jp/togosite/sparqlist/api/test_disease_template_2?id={{id}}&amp;type=nando"
    data-type="json"
    format-key="true"
    columns="[{&quot;id&quot;:&quot;NANDO_ID&quot;},{&quot;id&quot;:&quot;NANDO_label&quot;},{&quot;id&quot;:&quot;NANDO_label_ja&quot;},{&quot;id&quot;:&quot;NANDO_description&quot;},{&quot;id&quot;:&quot;NANDO_source&quot;,&quot;link&quot;:&quot;NANDO_source&quot;},{&quot;id&quot;:&quot;NANDO_altLabel&quot;},{&quot;id&quot;:&quot;NANDO_MONDO_related&quot;,&quot;link&quot;:&quot;NANDO_MONDO_related&quot;},{&quot;id&quot;:&quot;NANDO_upperClass&quot;},{&quot;id&quot;:&quot;NANDO_upperLabel&quot;}]"
    custom-css-url="/css/stanza.css"/>
  </section>

</article>
