<article data-stanza-database="togovar">
  <header>
    <h1>TogoVar</h1>
  </header>
  <section>
    <h2>Section heading</h2>
    <togostanza-hash-table
      data-url="https://integbio.jp/togosite/sparqlist/api/variant_details?tgv_id=tgv66423708"
      data-type="json"
      width="800"
      height="400"
      padding="0"
      columns=""
      format-key="true"
      />
  </section>
</article>
