<article data-stanza-database="chebi">
  <header>
    <h1>ChEBI:{{id}}</h1>
  </header>
  <section>
    <togostanza-hash-table
      data-url="https://integbio.jp/togosite/sparqlist/api/metastanza_chebi?id={{id}}"
      data-type="json"
      format-key="true"
      columns="[{&quot;id&quot;:&quot;ID&quot;,&quot;link&quot;:&quot;URL&quot;},{&quot;id&quot;:&quot;label&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;synonym&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;molecular_formula&quot;},{&quot;id&quot;:&quot;definition&quot;},{&quot;id&quot;:&quot;mass&quot;},{&quot;id&quot;:&quot;SMILES&quot;},{&quot;id&quot;:&quot;InChI&quot;},{&quot;id&quot;:&quot;secondary_ID&quot;}]"
      custom-css-url="css/stanza.css"
    />
  </section>
</article>
