<article data-stanza-database="chembl_compound">
  <header>
    <h1>Chembl Compound: {{id}}</h1>
  </header>
  <section>
    <togostanza-hash-table
      data-url="https://integbio.jp/togosite/sparqlist/api/metastanza_chembl_compound?id={{id}}"
      data-type="json"
      format-key="true"
      columns="[{&quot;id&quot;:&quot;ID&quot;,&quot;link&quot;:&quot;URL&quot;},{&quot;id&quot;:&quot;label&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;molecular_formula&quot;},{&quot;id&quot;:&quot;molecular_weight&quot;},{&quot;id&quot;:&quot;type&quot;},{&quot;id&quot;:&quot;SMILES&quot;},{&quot;id&quot;:&quot;InChI&quot;}]"
      custom-css-url="css/stanza.css"
    />
  </section>
</article>
