<article data-stanza-database="ensembl_transcript">
  <header>
    <h1>Ensembl Transcript: {{id}}</h1>
  </header>
  <section>
    <togostanza-pagination-table
      data-url="https://integbio.jp/togosite/sparqlist/api/togosite_transcript_summary_2?enst={{id}}"
      data-type="json"
      padding="0"
      page-size-option="10,20,50,100"
      page-slider="true"
      columns="[{&quot;id&quot;:&quot;enst_id&quot;,&quot;label&quot;:&quot;Ensembl Transcript ID&quot;,&quot;link&quot;:&quot;enst_url&quot;},{&quot;id&quot;:&quot;label&quot;,&quot;label&quot;:&quot;Name&quot;},{&quot;id&quot;:&quot;type&quot;,&quot;label&quot;:&quot;Biotype&quot;},{&quot;id&quot;:&quot;location&quot;,&quot;label&quot;:&quot;Location&quot;},{&quot;id&quot;:&quot;exon_count&quot;,&quot;label&quot;:&quot;# of Exons&quot;},{&quot;id&quot;:&quot;uniprot_id&quot;,&quot;label&quot;:&quot;Uniprot&quot;,&quot;escape&quot;:false}]"
      custom-css-url="css/stanza.css"
    />
  </section>
</article>
