<article data-stanza-database="glytoucan">
  <header>
    <h1>GlyTouCan: {{id}}</h1>
  </header>
  <section>
    <togostanza-hash-table
      data-url="https://integbio.jp/togosite/sparqlist/api/metastanza_glytoucan?id={{id}}"
      data-type="json"
      format-key="true"
      columns="[{&quot;id&quot;:&quot;ID&quot;,&quot;link&quot;:&quot;url&quot;},{&quot;id&quot;:&quot;IUPAC&quot;},{&quot;id&quot;:&quot;WURCS&quot;},{&quot;id&quot;:&quot;mass&quot;},{&quot;id&quot;:&quot;subsumption&quot;},{&quot;id&quot;:&quot;tissue&quot;,&quot;escape&quot;:false}]"
      custom-css-url="css/stanza.css"
    />
  </section>
</article>
