<article data-stanza-database="hp">
  <header>
    <h1>HP:{{id}}</h1>
  </header>
  <section>
    <togostanza-hash-table
      data-url="https://integbio.jp/togosite/sparqlist/api/metastanza_hp?id={{id}}"
      data-type="json"
      format-key="true"
      columns="[{&quot;id&quot;:&quot;ID&quot;,&quot;link&quot;:&quot;URL&quot;},{&quot;id&quot;:&quot;label&quot;},{&quot;id&quot;:&quot;definition&quot;},{&quot;id&quot;:&quot;comment&quot;},{&quot;id&quot;:&quot;subclass_of&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;exact_synonym&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;related_synonym&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;xref&quot;,&quot;escape&quot;:false}]"
      custom-css-url="css/stanza.css"
    />
  </section>
</article>
