<article data-stanza-database="hp">
  <header>
    <h1>HPO: {{id}}</h1>
  </header>
  <section>
    <togostanza-hash-table
      data-url="https://integbio.jp/togosite/sparqlist/api/test_disease_template_2?id={{id}}&amp;type=hp"
      data-type="json"
      format-key="true"
      columns="[{&quot;id&quot;:&quot;HPO_ID &quot;},{&quot;id&quot;:&quot;HPO_label&quot;},{&quot;id&quot;:&quot;HPO_definition&quot;},{&quot;id&quot;:&quot;HPO_relatedDB&quot;},{&quot;id&quot;:&quot;HPO_comment&quot;},{&quot;id&quot;:&quot;HPO_upperClass&quot;,&quot;link&quot;:&quot;HPO_upperClass&quot;}]"
      custom-css-url="/css/stanza.css"
    />
  </section>
</article>
