<article data-stanza-database="mesh">
  <header>
    <h1>MeSH: {{id}}</h1>
  </header>
  <section>
    <togostanza-hash-table
      data-url="https://integbio.jp/togosite/sparqlist/api/metastanza_mesh?id={{id}}"
      data-type="json"
      format-key="true"
      columns="[{&quot;id&quot;:&quot;ID&quot;,&quot;link&quot;:&quot;URL&quot;},{&quot;id&quot;:&quot;label&quot;},{&quot;id&quot;:&quot;broader_descriptor&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;preferred_concept&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;concept&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;scope_note&quot;}]"
      custom-css-url="css/stanza.css"
    />
  </section>
</article>
