<article data-stanza-database="ncbigene">
  <header>
    <h1>NCBI Gene: {{id}}</h1>
  </header>
  <section>
    <togostanza-hash-table
      data-url="https://integbio.jp/togosite/sparqlist/api/metastanza_ncbigene?id={{id}}"
      data-type="json"
      format-key="true"
      columns="[{&quot;id&quot;:&quot;NCBI_Gene_ID&quot;,&quot;link&quot;:&quot;NCBI_Gene_URL&quot;},{&quot;id&quot;:&quot;Gene_symbol&quot;},{&quot;id&quot;:&quot;Description&quot;},{&quot;id&quot;:&quot;Location&quot;},{&quot;id&quot;:&quot;Synonym&quot;},{&quot;id&quot;:&quot;Gene_type&quot;},{&quot;id&quot;:&quot;Other_names&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;Biological_process&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;Cellular_component&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;Molecular_function&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;Tissue-specific_high_expression_(RefEx)&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;Tissue-specific_low_expression_(RefEx)&quot;,&quot;escape&quot;:false}]"
      custom-css-url="css/stanza.css"
    />
  </section>
</article>
