<article data-stanza-database="pdb">
  <header>
    <h1>PDB</h1>
  </header>
  <section>
    <h2>PDB: {{id}}</h2>
    <togostanza-hash-table
      data-type="json"
      format-key="true"
      columns="[{&quot;id&quot;:&quot;pdb_id&quot;,&quot;label&quot;:&quot;Dataset ID&quot;},{&quot;id&quot;:&quot;title&quot;},{&quot;id&quot;:&quot;methods&quot;},{&quot;id&quot;:&quot;polypeptide_number&quot;},{&quot;id&quot;:&quot;pH_str&quot;},{&quot;id&quot;:&quot;keywords&quot;},{&quot;id&quot;:&quot;text&quot;,&quot;label&quot;:&quot;description&quot;},{&quot;id&quot;:&quot;spieces&quot;,&quot;label&quot;:&quot;Spieces&quot;},{&quot;id&quot;:&quot;host&quot;,&quot;label&quot;:&quot;Host(expression system)&quot;},{&quot;id&quot;:&quot;uniprot&quot;,&quot;label&quot;:&quot;Uniprot Link&quot;,&quot;rowspan&quot;:true}]"
      data-url="https://integbio.jp/togosite/sparqlist/api/togosite-gene-summary-pdb?id={{id}}"
      class="popup"/>
  </section>
</article>
