<article data-stanza-database="pdb">
  <header>
    <h1>PDB: {{id}}</h1>
  </header>
  <section>
    <togostanza-hash-table
      data-type="json"
      format-key="true"
      columns="[{&quot;id&quot;:&quot;ID&quot;,&quot;link&quot;:&quot;url&quot;},{&quot;id&quot;:&quot;links&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;title&quot;},{&quot;id&quot;:&quot;method&quot;},{&quot;id&quot;:&quot;polypeptide_number&quot;},{&quot;id&quot;:&quot;pH&quot;,&quot;label&quot;:&quot;pH&quot;},{&quot;id&quot;:&quot;classification&quot;},{&quot;id&quot;:&quot;functional_keywords&quot;},{&quot;id&quot;:&quot;species&quot;},{&quot;id&quot;:&quot;host_(expression_system)&quot;},{&quot;id&quot;:&quot;macromolecules&quot;,&quot;escape&quot;:false},{&quot;id&quot;:&quot;other_molecules&quot;,&quot;escape&quot;:false}]"
      data-url="https://integbio.jp/togosite/sparqlist/api/metastanza_pdb?id={{id}}"
      class="popup"
      custom-css-url="css/stanza.css"
    />
  </section>
</article>
