<article data-stanza-database="togovar">
  <header>
    <h1>TogoVar: {{id}}</h1>
  </header>
  <section>
    <togostanza-hash-table
      data-url="https://togodx.dbcls.jp/human/sparqlist/api/metastanza_togovar?tgv_id={{id}}"
      data-type="json"
      width="800"
      height="400"
      padding="0"
      columns="[{&quot;id&quot;: &quot;tgv_id&quot;, &quot;label&quot;: &quot;TogoVar ID&quot;, &quot;link&quot;: &quot;url&quot;}, {&quot;id&quot;: &quot;type_label&quot;, &quot;label&quot;: &quot;Variant type&quot;}, {&quot;id&quot;: &quot;hgvs&quot;, &quot;label&quot;: &quot;HGVS&quot;}]"
      format-key="true"
      custom-css-url="css/stanza.css"
    />
  </section>
</article>
